body {
  background-color: #282828;
  font-family: Roboto;
}

.content {
  display: flex;
  justify-content: baseline;
}

.container {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  height: 960px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 50px; */
  /* padding: 5px; */
  background-color: white;
  border: 0px solid white;
}
.row-div {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  border: 0px solid white;
}
.col-div {
  flex-grow: 1;
  border: 1px solid white;
  background-color: lightblue;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  color: beige;
  align-self: center;
  margin-top: 32px;
  margin-bottom: 60px;
  font-weight: 900;
}
button {
  /* margin-top: 24px; */
  background-color: #192734;
  color: white;
  width: 150px;
  height: 80px;
  font-size: 24px;
  font-weight: 800;
  border-radius: 8px;
}

.btn-container {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.reset-btn {
  align-self: baseline;
  margin-top: 250px;
}

.color-ch {
  display: flex;
  gap: 40px;
}
